out
server
node_modules
*.vsix
.DS_Store
.vscode-test
target
dist
jre
lombok
bin/
data/outputs
snippets
.settings
.idea
.classpath
.project
test/resources/projects/**/.vscode
test/resources/projects/maven/salut/testGradle
